.text{
    text-align: center;
    padding: 1em;
}

.btnWarn{
    background-color: #f44336;
    color:#fff;
}

.btnPrimary{
    background-color: #3f51b5;
    color:#fff;
}

.centerBtn{
    justify-content:center
}